.App {
  text-align: center;
  color: rgb(84, 84, 84);
  background: rgb(159, 137, 100) url('./paper2_med.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
